*.bak
*.log
*.swp
*.mo
*.edit.po
*.rej
.DS_Store
.bundle
.chef
.directory
/.envrc
eslint-report.html
/.gitlab_shell_secret
.idea
/.vscode/*
/.rbenv-version
.rbx/
/.ruby-gemset
/.ruby-version
/.rvmrc
.sass-cache/
/.secret
/.vagrant
/.yarn-cache
/.byebug_history
/Vagrantfile
/app/assets/images/icons.json
/app/assets/images/icons.svg
/app/assets/images/illustrations/
/app/assets/javascripts/locale/**/app.js
/backups/*
/config/aws.yml
/config/database*.yml
/config/gitlab.yml
/config/gitlab_ci.yml
/config/initializers/rack_attack.rb
/config/initializers/smtp_settings.rb
/config/initializers/relative_url.rb
/config/resque.yml
/config/redis.cache.yml
/config/redis.queues.yml
/config/redis.shared_state.yml
/config/unicorn.rb
/config/puma.rb
/config/secrets.yml
/config/sidekiq.yml
/config/registry.key
/coverage/*
/coverage-javascript/
/db/*.sqlite3
/db/*.sqlite3-journal
/db/data.yml
/doc/code/*
/dump.rdb
/jsconfig.json
/log/*.log*
/node_modules/
/nohup.out
/public/assets/
/public/uploads.*
/public/uploads/
/shared/artifacts/
/rails_best_practices_output.html
/tags
/vendor/bundle/*
/vendor/gitaly-ruby
/builds*
/.gitlab_workhorse_secret
/.gitlab_pages_shared_secret
/webpack-report/
/knapsack/
/rspec_flaky/
/locale/**/LC_MESSAGES/*.mo
/locale/**/*.time_stamp
/.rspec
/.gitlab_pages_secret
/.gitlab_smime_key
/.gitlab_smime_cert
package-lock.json
/junit_*.xml
/coverage-frontend/
jsdoc/
**/tmp/rubocop_cache/**
.overcommit.yml
.projections.json
__pycache__/
/SubscServer.code-workspace
/django
/.vscode
/treebeard
/unidecode
/Unidecode-1.1.1.dist-info
/urllib3
/urllib3-1.25.8.dist-info
/wagtail
/sorl
/wagtail-2.8.dist-info
/bin
/django_treebeard-4.3.1-py3.6.egg-info
/__pycache__
/draftjs_exporter
/draftjs_exporter-2.1.7-py3.6.egg-info
/html5lib
/html5lib-1.0.1.dist-info
/l18n
/l18n-2018.5-py3.6.egg-info
/six-1.14.0.dist-info
/webencodings
/webencodings-0.5.1.dist-info
/django_modelcluster-5.0.1.dist-info
/django_taggit-1.2.0.dist-info
/djangorestframework-3.11.0.dist-info
/modelcluster
/rest_framework
/taggit
/Django-3.0.3.dist-info
/pytz
/pytz-2019.3.dist-info
/sqlparse-0.3.0.dist-info
/asgiref
/asgiref-3.2.3.dist-info
/PIL
/Pillow-6.2.2.dist-info
/sqlparse
/willow
/Willow-1.3.dist-info
/chardet-3.0.4.dist-info
/requests
/requests-2.23.0.dist-info
/certifi
/certifi-2019.11.28.dist-info
/chardet
/idna-2.9.dist-info
/beautifulsoup4-4.6.0.dist-info
/bs4
/idna
/wagtailmenus
/README_c47c7c7383225ab55ff591cb59c41e6b.html
/six.py
/crontab
/crontab-0.22.6-py3.6.egg-info
venv/